.Button {
  background-color: $primary;
  border: none;
  border-radius: 3px;
  color: $white;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  padding: 0.75rem 1.5rem;
  transition: border color 0.5s;

  &--small {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }

  &--is-loading {
    opacity: 0.3;
    cursor: no-drop;
  }

  &--is-secondary {
    border: 1px solid;
    border-radius: 3px;
    color: $white;
    text-transform: uppercase;
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-bottom: 0.5rem;
    padding: 1.05rem 2rem;
    transition: border color 0.5s;
    margin-left: 1rem;
    background: none;
    cursor: pointer;
  }

  &--is &--disabled,
  &:disabled,
  &[disabled] {
    background-color: $white20;
    color: $white50;
    cursor: not-allowed;
  }
}

button {
  padding: 0.5rem 1rem;
  background-color: $primary;
  line-height: 1rem;
  border: none;
  border-radius: 2px;
  text-transform: uppercase;
  font-weight: 600;
  color: white;
  a {
    text-decoration: none;
    color: inherit;
  }
}

button.mini {
  padding: 0.5rem 0.5rem;
  border: none;
  background: none;
  color: $primary;
}

button.Button--small.secondary {
  background-color: none;
  color: pink;
}
