#monitor form {
  margin-bottom: 2rem;
}

#montor_table_emptyState {
  margin: 2rem auto;
  p {
    color: $secondaryText;
  }
  // width: 66.66%;
  // text-align: center;
  // border-top: 1px solid $secondaryText;
}