@import "normalise.scss";

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap");

// Colours
$background: hsla(225, 31, 20, 1);
$secondaryText: hsla(0, 0, 100, 0.5);
$buySide: hsla(184, 99, 36, 1);
$sellSide: hsla(335, 70, 57, 1);
$primary: hsla(184, 99, 36, 1);

@import "typography.scss";

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  width: 100%;
}

.artboard {
  position: relative;
  display: flex;
  color: white;
  margin: 2rem auto 4rem 0;
  border: 1px lightgray solid;
  overflow: hidden;
  padding: 1.5rem 0 1.5rem 0;
  background-color: $background;
}

nav {
  min-width: 48px;
  padding-top: 96px;

  @media (min-width: 1001px) {
    min-width: 216px;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-weight: 600;
    color: hsla(0, 0, 100, 0.5);

    li {
      display: flex;
      align-items: centre;
      padding: 24px 16px;
      border-left: 4px solid hsla(0, 0, 100, 0);
      .icon {
        min-width: 24px;
        min-height: 24px;
        background-color: hsla(0, 0, 100, 0.5);
        border-radius: 4px;
      }
      label {
        margin-left: 16px;
        display: none;
        @media (min-width: 1000px) {
          display: block;
        }
      }
    }
    .active {
      color: hsla(0, 0, 100, 1);
      border-left-color: $primary;
      .icon {
        background-color: hsla(0, 0, 100, 1);
      }
    }
  }
} // End of nav

.view {
  padding: 0 2rem;
  padding-top: 96px;
}

.header {
  display: flex;
  width: 100%;
  margin-bottom: 40px;

  .buySide {
    width: 100%;
    .bondName {
      border-left: 0.25rem $buySide solid;
      padding-left: 8px;
      margin-bottom: 0.5rem;
    }
    .meta-data {
      display: flex;
      justify-content: flex-start;
      padding-left: 12px; // 8px + 4px border
      .box {
        margin-right: 8px;
        white-space: nowrap;
      }
      .highRisk {
        font-weight: bold;
        color: $sellSide;
      }
    }
  }
  .sellSide {
    width: 100%;
    text-align: right;
    .bondName {
      border-right: 0.25rem $sellSide solid;
      padding-right: 8px;
    }
    .meta-data {
      display: flex;
      justify-content: flex-end;
      padding-right: 12px; // 8px + 4px border
      .box {
        margin-left: 8px;
        white-space: nowrap;
      }
    }
  }
  @media (min-width: 1024px) {
    .box {
      background-color: hsla(225, 31, 25, 1);
      border-radius: 4px;
      padding: 4px 8px;
    }
  }
  .bookmark {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    min-width: 100px;
    height: 200px;
    border: 1px lightgray solid;
    border-radius: 4px;
    margin: -156px 16px 24px 16px;
    .bookmarkInfo {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    p {
      color: $secondaryText;
    }
  }
} // End of header

.graphs {
  width: 100%;
  margin: 40px auto 40px auto;
  img {
    width: 100%;
    height: auto;
  }
}

.compareStats {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px;
  margin: 0 auto 16px;
  font-size: 1rem;
  max-width: 440px;
  border: 1px $secondaryText solid;
  border-radius: 4px;

  div {
    display: flex;

    label {
      display: inline;
      color: $secondaryText;
      margin-right: 8px;
      font-weight: 600;
    }
    p {
      margin: 0;
      font-weight: bold;
    }
  }
}

.sidebar {
  position: absolute;
  right: 0;
  top: 0;
  padding: 16px;
  text-align: right;
  @media (min-width: 1280px) {
    position: relative;
    width: 320px;
  }
}

#pairDetails nav ul li.active {
  border-left: 0px;
}
// .additionalInfo.left {
//   padding-left: 50%;
//   align-items: flex-end;
//   text-align: right;
//   .box {
//     margin: 0;
//     &:nth-child(3) {
//       font-weight: bold;
//       color: $sellSide;
//     }
//     &:nth-child(4) {
//       font-weight: bold;
//       color: $sellSide;
//     }
//   }
//   // justify-content: flex-end;
// }

// #additionalLeft {
//   transition-duration: 400ms;
//   display: flex;
//   justify-content: flex-start;
// }
